*{
    font-family: poppins;
}
.container{
    text-align: center;
}
.container h3{
    border: 1px solid grey;
    margin-top: 30px;
    padding: 20px;
}

.button{
    border: 1px solid grey;
    display: flex;
    padding: 10px;
    justify-content: center;
    justify-content: space-around;
}
.button div{
    border: 1px solid grey;
    padding: 10px;
}
.container1{
    border: 1px solid grey;
    padding: 20px;
}
#answerbox{
    border:1px solid gray;
    padding: 20px;
}
#catgenerator{
    border: 1px solid grey;
    padding: 20px;
}
.container2{
    border: 1px solid grey;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#catgenerator img{
    padding: 20px;
}